h1{
    text-align: center;
}
input{
    text-align: center;
}
.calculadora{
    text-align: center;
}
body{
    background-image: url("https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-blue-calculator-illustration-image_1209653.jpg");
  background-repeat: repeat;
}
select{
    appearance:none;
    width: 22px;
    height: 22px;
    text-align: center;
    background-color: red;
}
button{
    background-color: greenyellow;

}
#resultado{
    text-align: center;
    background-color: darkgreen;
}
h3{
    text-align: center;
}